import axios from "axios";
import { {{imports.join(',')}} } from "./types"
export default {
	{% for e in paths %}
		/**
		 * @title {{e.title}}
		 * @description {{e.description}}
		 */
		{{e.name}}(request){ return axios.{{e.method}}<{{e.returnType}}>('{{e.path}}',{{'{params:request}' if e.method =='get' else 'request' }})},
	{% endfor %}
}
